:root {
    --primary-blue: #0070BB;
    --medium-blue: #27A1F2;
    --light-blue: #88CFFF;
    --white: #FFFFFF;
    --dark-grey: #D4DADF;
    --light-grey: #EEF1F4;
    --icon-grey: #B4BBC1;
    --text-grey: #4A4C4E;
    --black: #000000;
    --dark-green: #219653;
    --light-green: #27AE60;
    --red: #EB5757;
    --yellow: #F2C94C;
    --orange: #F2994A;
}
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#json-data {
    font-size: 18px;
    line-height: 1.5;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #fff;
    background-color: #000;
    transition: all 0.3s ease;
}

button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}
/* Styling for the form */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: var(--primary-blue);
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#json-data {
    font-size: 18px;
    line-height: 1.5;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #fff;
    background-color: #000;
    transition: all 0.3s ease;
}

button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}
/* Styling for the form */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    max-width: 800px;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 2px solid var(--primary-blue);
}

label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #555555;
}

input {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
    background-color: #F0F0F0;
    width: 100%;
}

button {
    background-color: #0077FF;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 20px;
    margin-top: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
}

/* Styling for the page */
body {
    background-color: #F0F0F0;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333333;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


body {
    background-color: var(--light-grey);
    color: var(--text-grey);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-blue);
}



input[type="text"], input[type="email"], input[type="tel"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--icon-grey);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--text-grey);
    margin-bottom: 20px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus {
    outline: none;
    box-shadow: 0 0 3px var(--medium-blue);
}

.invalid {
    border-color: var(--red);
}

button[type="submit"] {
    background-color: var(--primary-blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--light-green);
}

#json-forms-container {
    max-height: 45vh; /* Set the maximum height of the container */
    overflow-y: auto; /* Add a vertical scroll bar when the content overflows */
}

fieldset {
    margin: 10px 0; /* Add margin to the fieldset */
    padding: 10px; /* Add padding to the fieldset */
    border: 1px solid #ccc; /* Add a border to the fieldset */
    width: 100%;
}

fieldset > label {
    display: block; /* Display the label as a block element */
    margin-bottom: 5px; /* Add margin to the bottom of the label */
}
.container .row:last-of-type{
    width: 90vw;
}
